<nav class="navbar">

    <% if (user) { %>
        <a href="../recipes/index">View my Recipes</a>
        <a href="/">sign Out</a>
        <% } else {  %>

            <a href="../auth/sign-up">Sign up</a>
            <a href="../auth/sign-in">Sign in</a>
            <a href="/">Home</a>
            <% } %>
</nav>

<style>

button:hover {
  background-color: #357ab7;
}

.navbar {
  /* background-color: #333; */
  color: #333 ;
  padding: 10px !important;
  width: 50% !important;
  text-align: center !important;
}

.navbar a {
  color: #333 !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.navbar a:hover {
  text-decoration: underline;
}

</style>