<nav>

    <% if (user) { %>
        <a href="#">View my Recipes</a>
        <a href="/">sign Out</a>
        <% } else {  %>

            <a href="../auth/sign-up">Sign up</a>
            <a href="../auth/sign-in">Sign in</a>
            
            <% } %>
</nav>